<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lihua.weekly-tech-collector</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/lihua/projects/weekly-tech-collector/run_weekly.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/lihua/projects/weekly-tech-collector</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>0</integer>
    <key>Hour</key>
    <integer>18</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/lihua/projects/weekly-tech-collector/collector.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/lihua/projects/weekly-tech-collector/collector.log</string>
</dict>
</plist>
